@import url('https://rsms.me/inter/inter.css');
html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: #000;
    -webkit-font-smoothing: antialiased;
}

#container {
    max-width: 512px;
    margin: 0 auto;
    padding: 64px 24px;
}

.part {
    padding-bottom: 48px;
    margin-bottom: 48px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.part:last-of-type {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.myImg {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px solid rgb(211, 0, 0);
    margin-bottom: 12px;
}

h1 {
    font-weight: 600;
    font-size: 30px;
    color: #fff;
    margin-bottom: 12px;
    text-decoration: underline;
    text-decoration-color: rgb(211, 0, 0);
}

h3 {
    font-weight: 600;
    font-size: 15px;
    color: rgb(100, 92, 92);
    margin-bottom: 12px;
}

h2 {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    margin-bottom: 12px;
}

a {
    color: inherit;
}

a:hover {
    color: rgb(211, 0, 0);
    text-decoration: underline;
    text-decoration-color: #fff;
}

p {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

small {
    font-size: 15px;
    line-height: 24px;
    color: #FF4D4D;
}

.langs {
    color: rgb(100, 92, 92);
}

ul li {
    margin-bottom: 32px;
}

ul li:last-of-type {
    margin-bottom: 0;
}