@font-face {
    font-family: 'signature';
    src: url('BrothersideSignature.otf');
}

a {
    text-decoration: none;
    color: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
html {
    overflow-y: scroll;
}

 ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

#first {
    background-color: #000;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#education {
    background-color: #000;
    height: 49vh;
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    align-items: center;
}

#projects {
    background-color: #000;
    height: 98vh;
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    align-items: center;
}

.name-div {
    margin: auto;
    text-align: center;
}

.name {
    font-family: 'signature';
    font-size: 15em;
    display: inline-block;
    line-height: 1.4em;
    color: #fff;
}

.stuff {
    color: #fff;
    font-size: 2.5em;
    display: inline-block;
    font-family: 'Poiret One', cursive;
    margin-top: 0;
}

.links {
    position: fixed;
    right: 5%;
    top: 5%;
    font-size: 2.3em;
    color: #fff;
}

.link {
    margin: 30px;
}

#purdue {
    height: 150px;
}

.school {
    text-align: center;
}

.workHead {
    width: 50%;
    height: 100%;
    text-align: center;
    display: block;
}

.workDiv {
    background-color: #fff;
    width: 50%;
    height: 100%;
}

.student {
    font-size: 2em;
}

.header {
    text-align: center;
    color: #fff;
    top: 0;
    background-color: #000;
}

#header {
    font-family: 'signature';
    display: none;
}

.scrolled {
    position: fixed;
    display: block!important;
    font-size: 5em;
    top: 5vh;
    margin: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    transition: 0.2s;
}

.nowBlack {
    color: #000;
}
